In [4]:
import data
import pandas as pd

### Loading data

In [15]:
train = pd.read_csv('./data/train.csv')
store = pd.read_csv('./data/store.csv')

In [39]:
train.shape

(499419, 10)

In [38]:
train.dtypes

Date             datetime64[ns]
Store                   float64
DayOfWeek               float64
Sales                   float64
Customers               float64
Open                    float64
Promo                   float64
StateHoliday             object
SchoolHoliday           float64
DateTime         datetime64[ns]
dtype: object

In [17]:
train.head()

,Date,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,2013-01-01,1115.0,2.0,0.0,0.0,0.0,0.0,a,1.0
1,2013-01-01,379.0,2.0,0.0,0.0,0.0,0.0,a,1.0
2,2013-01-01,378.0,2.0,0.0,0.0,0.0,0.0,a,1.0
3,2013-01-01,377.0,2.0,0.0,0.0,0.0,0.0,a,1.0
4,2013-01-01,376.0,2.0,0.0,0.0,0.0,0.0,a,1.0

### Cleaning

In [18]:
train_nona = train.dropna()

In [19]:
train_nona.shape

(499419, 9)

In [20]:
train = train_nona

### Reset index after cleaning

In [21]:
train = train.reset_index(drop=True)

In [14]:
train.head()

,Date,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,2013-01-01,1115.0,2.0,0.0,0.0,0.0,0.0,a,1.0
1,2013-01-01,379.0,2.0,0.0,0.0,0.0,0.0,a,1.0
2,2013-01-01,378.0,2.0,0.0,0.0,0.0,0.0,a,1.0
3,2013-01-01,377.0,2.0,0.0,0.0,0.0,0.0,a,1.0
4,2013-01-01,376.0,2.0,0.0,0.0,0.0,0.0,a,1.0

In [36]:
# Convert Date to Datetime64

In [34]:
train['Date'] = pd.to_datetime(train['Date'])

In [35]:
train.dtypes

Date             datetime64[ns]
Store                   float64
DayOfWeek               float64
Sales                   float64
Customers               float64
Open                    float64
Promo                   float64
StateHoliday             object
SchoolHoliday           float64
DateTime         datetime64[ns]
dtype: object